body{
    background: rgb(238,174,202);
background: linear-gradient(90deg, rgba(238,174,202,1) 0%, rgba(148,187,233,1) 100%);
}

a{
    /* color: rgb(0, 0, 0) !important; */
    text-decoration: none !important;
}

.container{
    background-color: white;
    border-radius: 12px;
}

#balance{
    /* background-color: rgb(176,224,230); */
    border-radius: 8px;
    color: white !important;
    padding: 10px;

}

.gain-and-expense{
    border-radius: 8px;
    color: white;


}