* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

body {
    background-color: #ebebeb !important;
    font-family: Arial, Helvetica, sans-serif;
}

:root {
    --light-green: rgb(87, 226, 151);
    --light-green-hover: rgb(86, 175, 128);
    --blue: rgb(0, 168, 188);
    --black-blue: rgb(6, 22, 30);
}

a {
    text-decoration: none !important;
}

a:hover {
    color: inherit !important;
}

.filter-preset-1 {
    filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
    overflow: hidden;
}

.result-table-account:hover {
    background-color: #c0c0c0;
}

.pagination {
    background-color: #ffffff;
    padding: 5px;
    border-radius: 10px;
    display: flex;
    justify-content: center;
}

#div-table {
    background-color: rgb(255, 255, 255);
    border-radius: 12px;
    filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
    overflow: hidden;
}

.amount {
    white-space: nowrap;
}

.date {
    cursor: auto;
}

.order-by {
    cursor: pointer;
}

.selected {
    background-color: yellow;
}

/* BOX */

.box-dashboard-unic {
    border-radius: 10px;
    /* display: inline-block; */
    height: 80px;
    width: 100%;
}


/* TABLE */

.result {
    background-color: white;
    border-radius: 12px;
    margin-top: 10px;
    padding: 8px;

    align-items: center;
    display: flex;
    flex-direction: row;

    cursor: pointer;
}

.icon-category {
    align-self: center;
    font-size: 25px;
    margin-left: 5px;
}

.description {
    align-self: flex-start;
    padding-left: 15px;
}

.category {
    color: rgb(0, 0, 0);
    font-weight: 600;
}

.data {
    font-weight: 100;
    font-size: 14px;
}

.font-size-14 {
    font-weight: 100;
    font-size: 14px;
}

.value {
    align-items: end;
    display: flex;
    flex: 6;
    justify-content: flex-end;
    margin-right: 10px;
    min-width: 100px;
}

.buttons {
    align-items: end;
    display: flex;
    flex: 1;
    margin-right: 5px;
    justify-content: flex-end;
}

.div-button-new-revenue {
    align-items: end;
    display: flex;
    flex: 1;
    justify-content: flex-end;
}

.buttons button {
    margin-left: 5px;
}

/* BACKGROUND */
.background-white {
    background-color: #ffffff !important;
}

.background-red {
    background-color: #E25757 !important;
    color: white;
}

nav {
    background-color: var(--black-blue) !important;
}

.background-green {
    background-color: #57E297 !important;
    color: white;
}

.button-green {
    background-color: #57E297 !important;
    border-radius: 12px;
    color: white !important;
}

.backgroud-black-blue {
    background-color: var(--black-blue) !important;
}

button {
    all: unset;
}

.button-eye {
    background-color: rgb(255, 255, 255) !important;
    border-color: rgb(206, 212, 218) !important;
}

.button-eye:hover {
    background-color: rgb(206, 212, 218) !important;
}

.button-eye i {
    width: 20px !important
}

.bg-blue {
    background-color: #00a8bb;
}

#ul-sidebar-link {
    border: none;
    border-width: none !important;
}

#success {
    display: none;
}

#logo {
    left: 50% !important;
}

.background-light-green {
    background-color: var(--light-green) !important;
}

.button-light-green {
    background-color: var(--light-green) !important;
    color: rgb(255, 255, 255) !important;
}

.button-light-green:hover {
    background-color: var(--light-green-hover) !important;
    transition: 0.5s;
}

/* USER */
.width-50 {
    width: 49.3% !important;
}

.width-40 {
    width: 47.5% !important;
}

ul {
    text-align: left;
    margin-bottom: 0px;
}

.text-value {
    white-space: nowrap;
}